.wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 10px;
    justify-content: center;
    flex: 1 0 auto;
    margin-top: 5rem;
}

.wrapper .inner {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
}

.latestFeuchte {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    width:49%;
    float:right; white-space: pre-wrap;
}
.latestPegel {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    width:49%;
    float:left;
    white-space: pre-wrap;
}

.LineChart {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin-top: 10px;
    border-radius: 5px;
    height: 60vmin;
}

@media (max-width: 768px) {
    .wrapper {
        margin-left: 0px;
        margin-top: 1rem;
        margin-left: 56px;
        width: 500px;
        flex-direction: row;
        justify-content: center;
    }
    .wrapper .inner {
        justify-content: center;
        margin-left: 0px;
        width: 65%;
    }
    .wrapper .sensorWrapper{
        display:flex;
        flex-direction: column;
    }
    .latestFeuchte {
        width: 100%;
        margin-top:5px;
    }
    .latestPegel {
        width: 100%;
        
    }
    
}