@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: Raleway;
  display: flex;
  position: fixed;
  justify-content:center;
width: 100%;
  align-items: center;
  background-color: #111827;
  color: white;
  text-decoration: none;
 
}
.navbar .green{
  color:green
}
.navbar .yellow{
  color:yellow
}
.navbar .red{
  color:red
}




@media (max-width: 640px) {
  .notClickable{
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }
.navbar .green{
  display:none;
}
.navbar .yellow{
  display:none;
}
.navbar .red{
  display:none;
}
 
}
